{% extends 'menu.html' %}
{% load static %}
{% block title %}Cadastrar Medico{% endblock %}
{% block body %}
<div class="container-fluid">
    <form id="form" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Nome</label>
                {{ form.nome }}
            </div>
            <div class="col-md-8 mb-3">
                <label for="validationCustom02">Data de Nascimento</label>
                {{ form.nascimento }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Endereço</label>
                {{ form.endereco }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom04">Cidade</label>
                {{ form.cidade }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom05">CEP</label>
                {{ form.cep }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-4">
                <label for="validationCustom09">CRM</label>
                {{ form.crm }}
            </div>
            <div class="col-md-4 mb-4">
                <label for="validationCustom06">CPF</label>
                {{ form.cpf }}
            </div>
            <div class="col-md-4 mb-4">
                <label for="validationCustom07">RG</label>
                {{ form.rg }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-4">
                <label></label>
                <br>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <br>
                <label></label>
            </div>
        </div>
    </form>
</div>

{% endblock %}