{% extends 'menu.html' %}
{% load static %}
{% block title %}Cadastrar Consulta{% endblock %}
{% block body %}
<div class="container-fluid">
    <form  id="form" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">Data</label>
                {{ form.data }}
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom01">Hora</label>
                {{ form.hora }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom04">Medico</label>
                {{ form.medico }}
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom05">Paciente</label>
                {{ form.paciente }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-4">
                <label for="validationCustom06">Prontuario</label>
                {{ form.prontuario }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-4">
                <label></label>
                <br>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <br>
                <label></label>
            </div>
        </div>
    </form>
</div>

{% endblock %}