{% extends 'menu.html' %}
{% load static %}
{% block title %}Listar Medicos{% endblock %}
{% block body %}
<div class="">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr class="thead-dark">
            <th scope="col">Nome</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Endereço</th>
            <th scope="col">Cidade</th>
            <th scope="col">CEP</th>
            <th scope="col">CRM</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for m in medicos %}
        <tr>
            <th scope="col">{{ m.nome }}</th>
            <th scope="col">{{ m.nascimento }}</th>
            <th scope="col">{{ m.endereco }}</th>
            <th scope="col">{{ m.cidade }}</th>
            <th scope="col">{{ m.cep }}</th>
            <th scope="col">{{ m.crm }}</th>
            <th scope="col">{{ m.cpf }}</th>
            <th scope="col">{{ m.rg }}</th>
            <th scope="col"><a href="/consultorio/updatemed/{{ m.id }}"><img src="{% static 'img/edit.png' %}" height="20px"></a></th>
            <th scope="col"><a href="/consultorio/deletemed/{{ m.id }}"><img src="{% static 'img/delete.png' %}" height="20px"></a></th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}