{% extends 'menu.html' %}
{% load static %}
{% block title %}Listar Paciente{% endblock %}
{% block body %}
<div class="">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr class="thead-dark">
            <th scope="col">Nome</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Endereço</th>
            <th scope="col">Cidade</th>
            <th scope="col">CEP</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Plano de Saúde</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for i in '12356789' %}
        <tr>
            <th scope="col">Nome {{ i }}</th>
            <th scope="col">Data Nascimento {{ i }}</th>
            <th scope="col">Endereço {{ i }}</th>
            <th scope="col">Cidade {{ i }}</th>
            <th scope="col">CEP {{ i }}</th>
            <th scope="col">CPF {{ i }}</th>
            <th scope="col">RG {{ i }}</th>
            <th scope="col">Plano de Saúde {{ i }}</th>
            <th scope="col"><a href="updatemed/{{ i }}"><img src="{% static 'img/edit.png' %}" height="20px"></a></th>
            <th scope="col"><a href="deletemed/{{ i }}"><img src="{% static 'img/delete.png' %}" height="20px"></a></th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}