{% extends 'menu.html' %}
{% load static %}
{% block title %}Listar Paciente{% endblock %}
{% block body %}
<div class="">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr class="thead-dark">
            <th scope="col">Nome</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Endereço</th>
            <th scope="col">Cidade</th>
            <th scope="col">CEP</th>
            <th scope="col">CPF</th>
            <th scope="col">RG</th>
            <th scope="col">Plano de Saúde</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
        </thead>
        <tbody>
        {% for p in pacientes %}
        <tr>
            <th scope="col">{{ p.nome }}</th>
            <th scope="col">{{ p.nascimento }}</th>
            <th scope="col">{{ p.endereco }}</th>
            <th scope="col">{{ p.cidade }}</th>
            <th scope="col">{{ p.cep }}</th>
            <th scope="col">{{ p.cpf }}</th>
            <th scope="col">{{ p.rg }}</th>
            <th scope="col">{{ p.plano }}</th>
            <th scope="col"><a href="/consultorio/updatepac/{{ p.id }}"><img src="{% static 'img/edit.png' %}" height="20px"></a></th>
            <th scope="col"><a href="/consultorio/deletepac/{{ p.id }}"><img src="{% static 'img/delete.png' %}" height="20px"></a></th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}